$font-family-roboto: // Cross-platform generic font family (default user interface font)
        system-ui,
          // Safari for macOS and iOS (San Francisco)
        -apple-system,
          // Windows
        "Segoe UI",
          // Android
        Roboto,
          // Basic web fallback
        "Helvetica Neue", Arial,
          // Linux
        "Noto Sans",
        "Liberation Sans",
          // Sans serif fallback
        sans-serif,
          // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import '~mdb-ui-kit/src/scss/mdb.free.scss';

@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #7d8488;
  }
}

.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled {
  background-color: #7d8488;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #fff;
}

.border-right {
  border-right-width: 5px !important;
  border-right-color: #fff !important;
}

@media (min-width: 992px) {
  #intro {
    height: 50vh !important;
  }
}